/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  font-family: "neue-haas-unica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

header{
  writing-mode: vertical-rl;
  background-color: white;
  position: fixed;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px ;
  border-right: 2px solid black;
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  border-right: none;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

#title, #shake-info{
  font-family: "neue-haas-unica", sans-serif;
  font-size: 400%;
  font-weight: 300;
  animation: shake 0.05s infinite linear alternate-reverse;
}

.footer-btn{
  font-family: "neue-haas-unica", sans-serif;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 20px 10px;
  font-size: 250%;
  font-weight: 300;
  cursor: grab;
}

.footer-btn:hover{
  text-decoration: underline 2px black;
  font-style: italic;
}

main{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#desktop-msg{
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#desktop-msg > h1{
  font-family: "neue-haas-unica", sans-serif;
  font-size: 200%;
  font-weight: 300;
  animation: shake 0.05s infinite linear alternate-reverse;
}

#desktop-msg > h1:hover{
  animation: none;
}

#desktop-msg > h1 > u{
  color: rgb(238, 0, 255);
  text-decoration: underline 1.5px rgb(238, 0, 255);
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes shake {
  0% {
    transform: translateX(-0.5%);
  }
  100% {
    transform: translateX(0.5%);
  }
}

#start-btn{
  font-family: "neue-haas-unica", sans-serif;
  border: solid 1.5px black;
  background-color: white;
  font-weight: 300;
  font-size: xx-large;
}


#cursor{
  color: white;
  font-size: xx-large;
  font-weight: 500;
  mix-blend-mode: difference;
  position: absolute;
  pointer-events: none;
  transform: translateX(-50%);
}

.color-section-wrapper{
  display: flex;
  width: 100%;
  height: 50%;
}

.color-section{
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 300;
  display: flex;
  width: 50%;
  height: 100%;
  font-size: xx-large;
  background-color: white;
  justify-content: center;
  align-items: center;
  /* transition: all 0.1s ease-in-out; */
  cursor: grab;
}

.color-section:hover{
  background-color: white;
}

#c1{
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

#c2{
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

#c3{
  border-right: solid 1px black;
  border-top: solid 1px black;
}

#c4{
  border-left: solid 1px black;
  border-top: solid 1px black;
}

#spin-btn{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "neue-haas-unica", sans-serif;
  font-size: x-large;
  background-color: white;
  border: solid 1.5px black;
  cursor: grab;
}

#spin-btn:hover{
  font-style: italic;
  text-decoration: underline 1px black;
}

/* Media Query */

@media (min-width:320px) and (max-width:768px){
  #desktop-msg{
    display: none;
  }
}