/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  font-family: "neue-haas-unica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

main{
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#desktop-msg{
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#desktop-msg > h1{
  font-family: "neue-haas-unica", sans-serif;
  font-size: 200%;
  font-weight: 300;
  animation: shake 0.05s infinite linear alternate-reverse;
}

#desktop-msg > h1:hover{
  animation: none;
}

#desktop-msg > h1 > u{
  color: rgb(238, 0, 255);
  text-decoration: underline 1.5px rgb(238, 0, 255);
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes shake {
  0% {
    transform: translateX(-0.5%);
  }
  100% {
    transform: translateX(0.5%);
  }
}

#grid-container{
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
	row-gap: 5px;
}

.color-item{
  /* border: solid 1px black; */
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-item:nth-child(1){
  background-color: fuchsia;
}

.color-item:nth-child(2){
  background-color:khaki;
}

.color-item:nth-child(3){
  background-color:darkorange;
}

.color-item:nth-child(4){
  background-color:deepskyblue;
}

#text{
  position: absolute;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 500;
  font-size: xx-large;
  color: white;
  mix-blend-mode: difference;
  animation: shake 0.1s infinite linear alternate-reverse;
}

/* Media Query */

@media (min-width:320px) and (max-width:768px){
  #desktop-msg{
    display: none;
  }
}